html, body {
    margin: 0;
    font-size: 18px;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}
textarea{
    width: 100%;
}
.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: #0aa1a1;
    padding: 10px 20px 0px;
}
.header {
    background-color: #056c6c;
    min-height: 150px;
    display: flex;
    flex-direction: row;
}
.row{
    margin: 5px;
}
h1{
    margin-left: 20px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.content img {
    margin: 0 15px;
}
        table{
            -webkit-box-shadow: 7px 5px 3px 6px rgba(0,0,0,0.23); 
            box-shadow: 7px 5px 3px 6px rgba(0,0,0,0.10);
            font-size: 16px;
        }
        table{
            border:solid 2px  rgba(128, 128, 128, 0.512);
        }
        table thead th{
            background-color: black;
            color: aliceblue;
            margin: 2px;
            padding: 8px;
        }
        table tbody tr:nth-child(even){
            background-color: rgba(220, 220, 220, 0.562);
        }
        table tbody td{
            padding: 8px;
        }
        table tfoot td{
            background-color: lightgray;
            padding: 8px;
        }
        table tbody tr:hover{
            background-color: rgba(128, 128, 128, 0.712);
        }
.footer {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}